/* custom properties */
:root {
    --red: #03ccf9  ;
    /* #f9032f  red*/
    /* f9a303  orange*/
    /* 03ccf9  blue*/
    --redGradient:  linear-gradient(45deg, #006fc4, #03ccf9);
    --black: rgb(31, 17, 48);
    --white: rgb(255, 255, 255);
}

*, ::after, ::before {
        /* ##add to Anki */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html  {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
                    /* ##add to Anki, 10*s - */
    overflow-x: hidden;
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 0.6rem;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--red);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background-color: var(--black);    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid var(--red);  /* creates padding around scroll thumb */
}

/* NAVBAR SECTION */

.navbar {
    background: var(--black);
    height: 60px;
    padding:  0.5rem calc((100vw - 1100px) / 2);
            /* add to Anki , 5*s - padding*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.navbar__logo {
    color: var(--white);
    text-decoration: none;
    padding: 0rem 1rem;    
    font-size: 1.5rem;
    font-weight: bold;
            /* add to Anki */
}

.navbar__logo span {
    font-style: italic;
    font-weight: normal;
    color: var(--red);
}

.navbar__menu {
    padding-right: 1rem;
    position: relative;
}

.navbar__menu .navbar__link:last-child {
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 2px;
    color: var(--red);
    font-weight: bold;
            /* add to Anki */
}

.navbar__menu .navbar__link:last-child:hover {
            /* add to Anki , 5*s - pseudo selector */
    color: var(--black);
}

.navbar__link {
    color: var(--white);
    text-decoration: none;
    padding: 0rem 1rem;
}

.navbar__link:hover {
    color: var(--red);
    transition: color 300ms ease-in-out;
    outline: 0.1rem var(--red);
}


@media  screen and (max-width: 768px) {
    body.active{
                /* add to Anki, tag plus class selector*/        
        overflow-y: hidden;
        overflow-x: hidden;
    }             /* related to JS code */


    .navbar__link {
        display: flex;
        transition: color 300ms ease-in-out;
        flex-direction: column;
        align-items: center;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
                /* add to Anki */
        position: absolute;
        width: 100%;
        top: -1000px; 
                /* hides the menu */
        align-items: center;
        opacity: 0;
        transition: 
            /* top 200ms ease-in,  */
            opacity 300ms ease-in-out;
                        /* ## add to Anki, multiple properties */
    }

    .navbar__menu .navbar__link {
        height: auto;
    }

    .navbar__menu.active {
        top: 99%;               /* reveals the menu */
        opacity: 1;
        z-index: 99;
        height: 100vh;
                /* add to Anki, relative units */
        font-size: 1.5rem;
        background: var(--black);
    } 
            /* related to JS code */

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 300ms ease-in-out;
            /* add to Anki,  3*s - ease*/
        background: var(--white);
        display: block;
        cursor: pointer;
    }

    #mobile-menu {
        position: absolute;
        top: 23%;
        right: 4%;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
        /* transform: translateX(-1000px) */
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
    /* END OF MEDIA QUERIES */

/* HERO SECTION  */
.texture-circle {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    outline: var(--red) 0.1rem solid;
    right: -30%;
    top: -50%;
}

.hero {
    background: linear-gradient(
        to right, 
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.1)
        ), 
        url('./img/supplementary-6.jpg');  
            /* add to Anki , 5*s - */
    height: calc(100vh - 50px);  
            /* add to Anki , full screen minus 100px*/
    background-position: center;   /* add to Anki */
    background-size: cover;   /* add to Anki , 3*s - */
    padding:  0.5rem calc((100vw - 1100px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: -2;
}   

.hero__content {
    color: var(--white);
    padding: 3rem 1rem;
    line-height: 1;  /* add to Anki */
    display: flex;
    flex-direction: column;
}

.hero__content  h1 {
    font-size: clamp(3rem, 8vw, 7rem);  
            /* add to Anki , 5*s - responsive text, maybe best discovery? */
    margin-bottom: 0.5rem;
}

.hero__content h1 span {
    color: var(--red);
    font-style: italic;
    font-weight: normal;
}

.hero__content p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}

.button {
    padding: 1rem 3rem;
    border: none;
    background: var(--redGradient);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: 
        background 300ms ease-in-out;
    border-radius: 4px;
    text-align: center;
    max-width: 250px;
}

.button:hover {
    background: var(--black);
    outline: var(--red) 0.15rem double;
    outline-offset: -2px;
}

/* SERVICES SECTION */
.fa-basketball-ball {
    position: absolute;
    left: -10%;
    bottom: -20%;
}

.texture-icon {
    color: var(--red);
    font-size: 30rem;
    z-index: -10;
    opacity: 0.09;
}

.services {
    padding: 8rem calc((100vw - 1100px) / 2);
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.services__img__wrapper {
    position: relative;
}


.fa-play-circle {
    font-size: 4rem;
    position: absolute;
    top: 45%;
    left: 45%;
        /*  add to Anki, 10*s - perfectly centering */
    z-index: 10;
    transition: color 300ms ease-in-out;
}

.fa-play-circle:hover {
    color: var(--black);
}

.play-icon-back {
    background: var(--white);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 45%;
    left: 46%;
    border-radius: 50%;
}

.services__img {
    height: 100%; 
            /* add to Anki , making images responsive */
    width: 100%;
    z-index: -1;
}

.topline {
    color: var(--red);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.services__heading {
    margin-bottom: 1rem;
    font-size: clamp(2rem, 6vw, 3rem);
}

.services__features {
    list-style: none;
               /* add to anki */
}

.services__feature {
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 5vw,1.2rem);
}

.fa-check-circle {
    margin-right: 0.5rem;
    color: var(--red)
}

@media screen and (max-width: 767px) {
    .services__container {
        grid-template-columns: 1fr;
            /* add to anki */
    }
}

/* MEMBERSHIP SECTION */
.membership {
    background: var(--black);
    color: var(--white);
    padding: 6rem calc((100vw - 1100px) / 2);
    text-align: center;
}

.membership h1 {
    margin-bottom: 1rem;
    font-size: clamp(2rem, 5vw, 3rem);
    padding: 0 1rem;
}

.membership__descr {
    margin-bottom: 3rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 1rem;
}

.membership__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.membership__card {
    padding: 2rem;
    min-height: 450px;
    width: 325px;
    background: var(--white);
    color: var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
        /* add to Anki */
    margin: 0 10px; 
}

.memberships__perks, .membership__perks {
    min-height: 150px;
}

.membership__card p {
    margin-bottom: 1rem;
    /*  add to Anki, line-height: 3rem; */
}

.membership__card a {
    align-self: center;
}

.card-icon {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #e9b302;
}

.membership__card h3 {
    font-size: clamp(1rem, 5vw, 2rem);
    margin-bottom: 2rem;
}

@media screen and (max-width:1100px) {
    .membership__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .membership__card {
        width: 60%;
        margin-bottom: 2rem;
    }
}

/* TEAM SECTION */
.team {
    padding: 8rem calc((100vw - 900px) / 2);
}

.team__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 350px);;
        /* add to Anki, 5*s - repeat() + auto */   
    justify-items: center;
        /* add to anki, 5*s - half-solved centering issue */
    align-items: flex-end;
}

.team__card {
    margin: 1rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.team__text {
    padding: 1rem;
}

.team__text h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.team__descr {
    font-size: clamp(1rem, 3vw, 1.3rem);
    line-height: 1.4;
}

.team__card p {
    position: absolute;
    bottom: 10%;
    left: 10%;
        /* add to Anki, 5*s - offsets + absolute*/
    color: var(--white);
    font-size: 3rem;
}

.team__img {
    max-width: 90%;
    max-height: 90%;
            /* add to Anki , responsive images*/
    border-radius: 10px;
}

.team__text:nth-child(1) {
            /* add to Anki, nth-child() */
    grid-row: 1/2;
    grid-column: 2/3;
}

.team__text:nth-child(2) {
    grid-row: 5/6;
    grid-column: 1/2;
}

.team__card:nth-child(3) {
    grid-row: 1/3;
    grid-column: 1/2;
    }
    
.team__card:nth-child(4) {
    grid-row: 2/4;
    grid-column: 2/3;
    }
    
.team__card:nth-child(5) {
    grid-row: 3/5;
    grid-column: 1/2;
}

.team__card:nth-child(6) {
    grid-row: 4/6;
    grid-column: 2/3;
}

.team__card {
    height: 100%;
    width: auto;
    padding-top: 2rem;
}

@media screen and (max-width: 768px) {
    .team__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
                /* add to anki, auto'*/
        justify-items: center;
    }

    .team__card p {
        position: absolute;
        bottom: 12%;
        left: 10%;
            /* add to Anki, offsets*/
        color: var(--white);
        font-size: 3rem;
    }

    .team__img {
        max-width: 90%;
        max-height: 90%;
        height: 100%;
        border-radius: 10px;
    }

    .team__text:nth-child(1) {
        /* add to Anki, 5*s - nth-child() */
    grid-row: 1/2;
    grid-column: 1/2;
    }

    .team__text:nth-child(2) {
    grid-row: 6/7;
    grid-column: 1/2;
    }

    .team__card:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
    }

    .team__card:nth-child(4) {
    grid-row: 4/5;
    grid-column: 1/2;
    }

    .team__card:nth-child(5) {
    grid-row: 5/6;
    grid-column: 1/2;
    }

    .team__card:nth-child(6) {
    grid-row: 2/3;
    grid-column: 1/2;
    }

}

/* FORM SECTION */
.email {
    background: linear-gradient(
        180deg, 
        rgba(0,0,0,0.6) 0%, 
        rgba(0,0,0,0.6) 35%,
        rgba(0,0,0,0.1) 100%
    ),
    url('./img/gym-4.jpg') no-repeat center;
                            /* add to Anki */
    background-size: cover;
    height: 450px;
    width: 100%;
    padding: 5rem calc((100vw - 1300px) / 2);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.email__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email__content h1 {
    text-align: center;  
            /* add to Anki */
    margin-bottom: 1rem;
    font-size: clamp(1rem, 5vw, 3rem);
    padding: 0 1rem;
}

.email__content p {
    text-align: center;
    font-size: clam(1rem, 2.5vw, 1.5rem);
    padding: 0 1rem;
    margin-bottom: 2rem;
}

form {
    z-index: 10;
}

.form__wrap input {
    padding: 1rem 1.5rem;
    outline: none;
                    /* add to Anki , 1*s*/
    width: 350px;
    height: 50px;
    border: none;
    margin-right: 1rem;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .form__wrap {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    .form__wrap input {
        margin-bottom: 1rem;
        width: 100%;
                            /* add to Anki , 1*s*/
        margin-right: 0;
                            /* add to Anki , 3*s using zero value*/
    }

    button {
        width: 100%;
        min-width: 350px;
    }
}

@media screen and (max-width: 400px) {
    button {
        width: 100%;
        min-width: 250px;
    }
}

/* FOOTER SECTION */
.footer {
    padding: 5rem calc((100vw - 1100px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
            /* add to Anki */
    color: var(--white);
    background: var(--black);
}

.footer__descr {
    padding: 0 2rem;
}

.footer__descr h1 {
    margin-bottom: 2rem;
    color: var(--red);
    font-size: 1.6rem;
}

.footer__descr p {
    margin-bottom: 1rem;
}

#phone {
    font-weight: bold;
            /* add to Anki */    
    font-size: 1.2rem;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
                /* add to Anki, 1fr 1fr*/    
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}

.footer__title {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer__link {
    text-decoration: none;
    color: hsl(0, 0%, 80%);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    transition: 300ms ease-in-out;
}

.footer__link:hover {
    color: var(--red);
}

@media screen and (max-width: 640px) {
    .footer__wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .footer__descr {
        padding: 1rem;
    }

    .footer__links {
        padding: 1rem;
    }
}