/** base styling **/
* {
	box-sizing: border-box;
	font-family: cursive, helvetica;
}

.page-heading {
  color: #000;
  margin-bottom: 50px;
  font-weight: bold;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #fff;
}
/* End of BASE STYLING */

/** HEADER **/
#header-nav {
  background-color: rgb(129, 129, 129);
  border-radius: 0;
}

.navbar-brand { /* nav band */
  padding-top: 10px;
}

.navbar-brand h1 { /*name*/
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 18px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000;
  text-align: center;

}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  /* clear: both; */
  /* margin-top: -40; */
  margin-right: 30px;
}

/* END HEADER */

/* HOME PAGE */

#menu-tile {
  height: 1000px;
  width: 100%;  
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-color: rgb(129, 129, 129);
}

#menu-tile p {
  color: #000;
  position: relative;
  top: 50px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

#menu-tile p:hover {
  text-decoration: none;
}

#menu-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
  padding-top: 5px;
}
/* END HOME PAGE */
